{% extends 'base.html' %}


{% block body %}
<h1 style="text-align:center; color: #333; font-family: 'Arial', sans-serif; font-size: 2.5em; margin-bottom: 40px;">APPLY FOR JOB: {{jobs.job_title}}</h1>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Job</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>APPLY FOR JOB</h2>
        <form id="jobForm" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="jobTitle">Job Title</label>
                <input type="text" class="form-control" id="job_title" name="job_title" required>
            </div>
            <div class="form-group">
                <label for="Resume">Resume</label>
                <input type="file" class="form-control" id="Resume" name="Resume" required>
            </div>
            <div class="form-group">
                <label for="Skills">Cover</label>
                <input type="text" class="form-control" id="Cover" name="Cover" required>
            </div>
            <div class="form-group">
                <label for="Skills">Skills</label>
                <textarea class="form-control" id="Skills" name="Skills" rows="4" required></textarea>
            </div>
            
         
            <div class="form-group">
                <label for="job_Pic">job_Pic</label>
                
                <input type="file" class="form-control" id="job_Pic" name="job_Pic">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
       
    </script>
</body>
</html>

    


    
{% endblock body %}
    