{% extends 'base.html' %}

{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Job</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Add Job Listing</h2>
        <form id="jobForm" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group"></div>
                
                <input readonly type="text" value="{{jobs.id}}" class="form-control" id="id" name="id" hidden>
            </div>
            <div class="form-group">
                <label for="jobTitle">Job Title</label>
                <input type="text" value="{{jobs.job_title}}" class="form-control" id="jobTitle" name="job_title" required>
            </div>
            <div class="form-group">
                <label for="companyName">vacancy</label>
                <input type="text" value="{{jobs.number_of_openings}}"  class="form-control" id="vacancy" name="vacancy" required>
            </div>
            <div class="form-group">
                <label for="skills">skills</label>
                <input type="text"  value="{{jobs.skills}}" class="form-control" id="skills" name="skills" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control"  value=""  id="description" name="description" rows="4" required>{{jobs.description}}</textarea>
            </div>
            
            <div class="form-group">
                <label for="employmentType">category</label>
                <select class="form-control" id="category" value="{{jobs.category}}" name="category" required>
                    <option value="full_time">Full Time</option>
                    <option value="part_time">Part Time</option>
                    <option value="internship">Internship</option>
                </select>
            </div>

            <div class="form-group">
                <img src="/{{jobs.job_Pic}}" alt="" width="500px">
                <label for="job_Pic">job_Pic</label>
                
                <input type="file" class="form-control" id="job_Pic" name="job_Pic">
            </div>
         
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
       
    </script>
</body>
</html>

    
{% endblock body %}
    